$aColor: #fff;
$aHoverColor_01: #f5f0a8;
$bgColor: #10101a;
$borderColor: #92f7ab;
$btnColor: #fff;
$formBtnColor: #26262b;
$followBtnColor: linear-gradient(to bottom, rgb(34, 30, 32), #92f7ab63);
$formColor: #525a60df;
$h2Color: #fff;
$h3Color: #fff;
$inputColor: #f5f5f5;
$pColor: #fff;
$productsColor: #272935;
$pathAnimateColor: #fff;
$spanColor: #fff;
$loadingMainColor: linear-gradient(to top, rgb(5, 5, 5), rgb(20, 20, 20), rgb(15, 13, 13));
$logoColor: #fceded;
$smallColor: #fff;
$spMenuColor: #10101a;
$toTopArrowColor: rgb(171, 221, 171);
